{{#each this}}
  <div class='container'>
    <div class='card'>
      <h1 class='card-title text-center mb-5'>{{name}}</h1>
      <div class='row p-3'>
        <div class='card-body col-md-6'>
          <p class='card-text'>Capital: {{capital}}</p>
          <p class='card-text mb-5'>Population: {{population}}</p>
          <div>
            <p class='card-text'>Languages:</p>
            <ul class='list-group' style='list-style: none;'>
              {{#each languages}}<li
                  class='list-group-item'
                >{{name}}</li>{{/each}}
            </ul></div>
        </div>
        <img
          src='{{flags.png}}'
          alt='flag of {{name}}'
          class='rounded col-md-6 border p-0'
        />
      </div>

    </div>
  </div>

{{/each}}